:root {
  --main-color: #757575;
}

:root {
  --dark-color: #212121;
}

:root {
  --secondary-color: #ffffff;
}

:root {
  --hover-color: #2196f3;
}
:root {
  --font-text: 14px;
}
:root {
  --font-weight-main: 500;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}
.marker-list {
  list-style-type: none;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  color: var(--dark-color);
}

.logo-span {
  color: var(--hover-color);
}
.marker-list .nav-link {
  font-size: var(--font-text);
  font-weight: var(--font-weight-main);
  line-height: 1.14;
  text-decoration: none;
  color: var(--dark-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}

.marker-list .nav-link.current {
  color: var(--hover-color);
}

.contact-link {
  font-size: var(--font-text);
  font-weight: var(--font-weight-main);
  line-height: 1.14;
  text-decoration: none;
  color: var(--main-color);
  font-style: normal;
  font-size: var(--font-text);
}

.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

.contact-link {
  font-weight: var(--font-weight-main);
  font-size: var(--font-text);
  line-height: 1.14;
  text-decoration: none;
  color: var(--main-color);
  font-style: normal;
}
.contact-link:hover,
.lcontact-link:focus {
  color: var(--hover-color);
}

.hero {
  background: #2f303a;
}

.main-title {
  color: var(--secondary-color);
  font-weight: 900;
  line-height: 1.36;
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.btn-order-service {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #188ce8;
  border: 0px;
  cursor: pointer;
}

.btn-order-service:hover,
.btn-order-service:focus {
  background-color: var(--hover-color);
}

.small-title {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
  font-size: var(--font-text);
}

.text-title {
  font-size: var(--font-text);
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.section-command {
  background-color: #f5f4fa;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.title-staff {
  color: var(--dark-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.text-staff-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.footer-link {
  text-decoration: none;
  color: var(--dark-color);
  font-size: var(--font-text);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.button-portfolio {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  color: var(--mark-color);
  font-size: 16px;
  font-weight: var(--font-weight-main);
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--secondary-color);
  background-color: var(--hover-color);
  border: 0;
  border-radius: 4px;
}

.portfolio-title {
  color: var(--dark-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.text-services {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.footer {
  background: #2f303a;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  color: var(--secondary-color);
}

.footer-link-contact {
  font-size: var(--font-text);
  font-weight: var(--font-weight-main);
  line-height: 1.14;
  text-decoration: none;
  color: var(--main-color);
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-link-contact:hover,
.footer-link-contact:focus {
  color: var(--hover-color);
}

.footer-link-adress {
  color: var(--secondary-color);
}
